* {
  text-align: center;
}
table tr th{
    text-align: center;
}
.scrollabele{
    overflow: auto;
    height: 400px;
    width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.adduserform {
  display: flex;
  /* gap: 10rem; */
}

.main {
  display: flex;
  margin: 100px auto;
  flex-direction: column;
  margin-top: auto;
  gap: 4rem;
  flex-wrap: wrap;
}

@media only screen and (max-width :1050px) {
    .scrollabele{
        overflow: auto;
        height: 300px;
        width: 100%;
    }
    .main{
        align-items: center;
        justify-content: center;
        /* margin: 50px auto; */
    }
    
}
@media only screen and (max-width :900px) {
    .scrollabele{
        overflow: auto;
        height: 600px;
        width: 100%;
    }
    .main{
        align-items: center;
        justify-content: center;
        /* margin: 50px auto; */
    }
    
}
@media only screen and (max-width :540px) {
    .scrollabele{
        overflow: auto;
        height: 400px;
        width: 100%;
    }
    .main{
        align-items: center;
        justify-content: center;
        margin: 30px auto;
    }
    
}

@media only screen and (max-width :500px) {
    .scrollabele{
        overflow: auto;
        height: 300px;
        width: 100%;
    }
    .main{
        align-items: center;
        justify-content: center;
        /* margin: 30px auto; */
    }
}