.qrscan{
    display: flex;
    flex-direction: row;
}

.qrreader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: auto;
}

.qrdata p{
    text-align: left;
    color: black;
}
.qrdata p span{
    color: rgb(63, 25, 250);
}

.qrdata{
    padding: 32px;
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 0px 0px 12px black;
}

@media only screen and (max-width: 1200px){
    .qrreader{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 500px){
    .qrreader{
        align-items: flex-start;
    }
}