.fList{
    border: 2px solid rgb(12, 12, 12);
    margin: 100px;
    border-radius: 35px;
    padding: 50px;
    text-align: center;
    background-color:white;
    box-shadow: inset 0px 0px 50px 0px #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.floor0{
    display: flex;
    margin: 20px;
}

.floorbtn{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #0e0e0e;
    border: none;
    outline: none;
    background-color: #9f9a9a;
    text-decoration: none;
    line-height: 50px;
    color: black;
   
    
}