.fList{
    border: 2px solid crimson;
    margin: 100px;
    border-radius: 25px;
    padding: 50px;
    text-align: center;
    background-color:white;
    box-shadow: inset 0px 0px 50px 0px #f18686;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.floor0{
    display: flex;
    margin: 20px;
}

.floorbtn{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #f18686;
    border: none;
    outline: none;
    background-color: #fff;
    text-decoration: none;
    line-height: 50px;
    color: black;
   
    
}