.seat-booking-form {
  
  border: 1px solid rgb(143, 141, 141);
  margin: 100px auto;
  width: 40%;
  gap: 0.5rem;
  border-radius: 15px;
  padding: 50px;
  text-align: center;
  background-color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 1px 3px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 3px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 3px 25px 0px rgba(0,0,0,0.75);
}

.form-input1 {
  
  width: 300px;
  padding: 5px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background-color: #e2dede;
  text-decoration: none;
  line-height: 50px;
  color: #0b0b0b;
  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
  border-color: #535151;
  
}

.form-button {
  box-shadow: inset 0px 0px 50px 0px #070808;
  background-color:#9c7373 ;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.booking-btn{
  background-color: #535151;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.form-button:hover {
  background-color: #0069d9;
}
a{
  text-decoration: none;
  font-size: medium;
}
/* Styles for screens smaller than 768px */
@media (max-width: 767px) {
  .seat-booking-form {
    margin: 50px auto;
    width: 80%;
    padding: 20px;
  }

  .form-input1 {
    width: 100%;
  }
}

/* Styles for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .seat-booking-form {
    margin: 75px auto;
    width: 60%;
    padding: 30px;
  }
}

/* Styles for screens larger than 991px */
@media (min-width: 992px) {
  .seat-booking-form {
    margin: 100px auto;
    width: 40%;
    padding: 50px;
  }

  .form-input1 {
    width: 300px;
  }
}

