
 
 .seat-booking-app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

.seat-map {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  
}

.seat {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.seat.booked {
  background-color: #ff8787;
  cursor: not-allowed;
}

.seat:hover {
  background-color: #d4d4d4;
} */

#legend {
  
    position: absolute;
    bottom: 30%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px auto ; 
}

#legend .txt {
  display: flex;
  align-items: center;
}
/* .taken {  color:#87ff96; }
.selected { background: #87ff96; }  */

.selected {
  background: #87ff96;
}
input[type=radio]{
      width: 100px;

  height: 100px;
    -webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
}
input[type=radio]:checked{
  background-color: #08781b;
   
} 