.seat-booking-app {
  max-width: 800px;

  margin: 0 auto;

  padding: 20px;
  color: rgb(136, 136, 133);
}

.seat-map {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-gap: 20px;
  color: rgb(10, 11, 11);
}

.disabled{
  pointer-events: none;
  cursor: not-allowed;
}

.seat {
  display: flex;

  align-items: center;

  justify-content: center;

  font-size: 24px;

  font-weight: bold;
  

  width: 100px;

  height: 100px;

  border: 2px solid #ccc;

  border-radius: 5px;

  background: #f4efef;

  cursor: pointer;

  transition: background-color 0.2s ease-in-out;
}

.seat.booked {
  display: flex;
  background-color:red;
  color: grey;
  align-items: start;
  cursor: not-allowed;
}

.seat.selected{

   background-color: aqua;
}



#legend {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-gap: 80px;
  margin-top: 50px;

}


.seat.select {
  background-color: #87ff96;

}

.selected {
  background: #87ff96;
}
input[type=radio]{
    width: 100px;

  height: 100px;
    -webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
}
input[type=radio]:checked{
  background-color: #87ff96;
   
}