<<<<<<< HEAD
.qr{
=======
/* Style for the navigation bar */
.nav {
  background-color: #666363;
  color: #fff;
>>>>>>> 858ad4605e961299982bdf4d5f7f523bbd598360
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin-top: 50px;
}
=======
  padding: 30px 40px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav li button {
  /* background-color: transparent; */
  background-color: rgb(111, 110, 110);
  border: none;
  /* color: inherit; */
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  outline: none;
}

.nav li button:hover {
  color: #f7eded;
}

/* Style for the dashboard content */
h1 {
  font-size: 32px;
  margin-top: 50px;
  text-align: center;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav ul {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav li {
    margin-bottom: 0px;
  }
}
>>>>>>> 858ad4605e961299982bdf4d5f7f523bbd598360
